TZ=Asia/Kolkata
LOG_MAX_SIZE_MB=512
LOG_MAX_BACKUPS=8
LOG_MAX_AGE_DAYS=30
LOG_COMPRESS=true
LOG_LEVEL=debug
LOG_CONSOLE=false
RB_HOST=0.0.0.0
RB_USERNAME=rabbitmq_username
RB_PASSWD=rabbitmq_password
RB_PORT=rabbitmq_port
RB_VHOST=rabbitmq_vhost
RB_MAIN_QUEUE=rabbitmq_main_queue
RB_DEAD_QUEUE=rabbitmq_dead_queue
RB_CONSUMER_TAG=rabbitmq_consumer_tag
AMQPR_CON_DELAY=rabbitmq_con_delay